
/* 공통 */
html, body, header, main, footer, section, div, p, ul, li, span, a{ padding: 0; margin:0; list-style: none; box-sizing: border-box;}
a { text-decoration: none; color:#333;}
* {font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x: hidden;}

/* header */
header { position: absolute; width: 100%; top: 0; left: 0; z-index: 100;}
.over-bg{position: fixed; top: 0px; left: 0; width: 100%; height: 100%; background:rgba(0,0,0,0.5); z-index: 11; display: none; }
.over-bg.active{display: block;}
header.active{ background-color: #fff;}
header .util-menu { border-bottom: 1px solid #ddd; }
header .util-menu .inner { width: 1300px; height: 55px; margin: 0 auto; display: flex; justify-content: space-between; }
header .util-menu .out-link { display: flex; justify-content: center; align-items: center; }
header .util-menu .out-link li:not(:last-child) { margin-right: 25px;}
header .util-menu .out-link li a{ font-size: 15px; color: #fff; opacity: 0.9; font-weight: 600; }
.ut-logo-on{display: none;}
.ut-logo.active{display: none;}
.ut-logo-on.active{display: block;}
header .util-menu .language { display: flex; justify-content: center; align-items: center; }
header .util-menu .language li:not(:last-child) { margin-right: 25px; }
header .util-menu .language li{position: relative; padding-left: 20px;}
header .util-menu .language li:nth-child(n+2){padding-left: 20px;}
header .util-menu .language li:nth-child(n+1){padding-right: 20px;}
header .util-menu .language li:nth-child(n+2):before { display: block; position: absolute; top: 50%; transform: translateY(-50%); left: 0; content: ''; width :5px; height: 5px; background-color: #fff;}
header .util-menu .language li a{ color: #fff; }
header .util-menu ul li.active a{color: #333; transition: all 0.7s ease-in-out;}
header .header-menu{border-bottom: 1px solid transparent;}
header .header-menu.active{border-bottom: 1px solid #ddd;}
header .header-menu .inner { width: 1300px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
header .header-menu .inner h1 .logo-on{display: none;}
header .header-menu .inner h1 .logo-on.active{display: block; }
header .header-menu .inner h1 .logo.active{display: none;}
header .header-menu .inner nav{display: flex; height: 100%;}
header .header-menu .gnb { display: flex; justify-content: space-between; position: relative;}
header .header-menu .gnb > li{ height: 100%; display: flex; align-items: center; }
header .header-menu .gnb > li > a { color: #fff; font-size: 19px; font-family: 'Nanum Gothic', sans-serif; padding:40px; position: relative;}
header .header-menu .gnb > li > a::after{content: ""; display: block; height: 2px; width: 0; background-color: #D22A49; position: absolute; bottom: 0; left: 50%; right: 50%; transform: translateX(-50%);}
header .header-menu .gnb > li > a:hover::after{width: 100%;  background-color: #D22A49; transition: all 0.5s; color: #D22A49;}
header .header-menu .gnb > li.active > a:hover{color: #D22A49; transition: inherit;}


header .header-menu .icon{display: flex; gap: 20px; align-items: center;}
header .header-menu .search a{background: url(../images/header_search.svg) center center no-repeat; background-size: cover; height: 20px; width: 20px; display: block;}
header .header-menu .search a.active{background: url(../images/header_search-on.svg)center center no-repeat; background-size: cover; height: 20px; width: 20px; display: block; transition: all 0.7s ease-in-out;}
header .header-menu .menuall a{background: url(../images/menuall.svg) center center no-repeat; background-size: cover; height: 20px; width: 20px; display: block;}
header .header-menu .menuall a.active{background: url(../images/menuall-on.svg)center center no-repeat; background-size: cover; height: 20px; width: 20px; display: block; transition: all 0.7s ease-in-out;}
header .header-menu .gnb li.active > a{color: #333; transition: all 0.7s ease-in-out; }

/* depth02 */
header .header-menu .gnb li .depth02-box{position: absolute; left: 0; width: 100%; top: 130px; display: none; }
header .header-menu .gnb li .depth02-box .depth02{display: grid; grid-template-columns:repeat(4, 2fr); grid-row-gap: 30px;}
header .header-menu .gnb li .depth01-title{position: absolute; left: -20%; font-size: 30px; top:0; font-weight: bold; }
header .header-menu .gnb li .depth02{padding-bottom: 30px;}
header .header-menu .gnb li .depth02 > li{ padding-left: 20px; display: flex; flex-direction: column; gap: 20px; position: relative;}
header .header-menu .gnb li .depth02 > li > a{font-size: 19px; letter-spacing:-2px; font-family: 'Nanum Gothic', sans-serif;}
header .header-menu .gnb li .depth02 > li a{display: block; }
header .header-menu .gnb li .depth02 > li .depth03{display: flex; flex-direction: column; gap: 20px;}
header .header-menu .gnb li .depth02 > li .depth03 > li{position: relative; padding-left: 15px;}
header .header-menu .gnb li .depth02 > li .depth03 > li a{color: #4d4c4c; font-size: 17px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500;  }
header .header-menu .gnb li .depth02 > li .depth03 > li::before{content: ""; display: block; width: 5px; height: 2px; background: #333; position: absolute; top: 50%; transform: translateY(-50%); left: 0;}
header .header-menu .gnb li .depth02-box:before{content: ""; height: 100%; width: 1px; background-color: #ddd; display: block; position: absolute; left: 0%; top: 0;}
header .header-menu .gnb li .depth02-box::after{content: ""; height: 100%; width: 1px; background-color: #ddd; display: block; position: absolute; right: 25%; top: 0;}
header .header-menu .gnb li .depth02::after{content: ""; height: 100%; width: 1px; background-color: #ddd; display: block; position: absolute; right: 50%; top: 0;}
header .header-menu .gnb li .depth02::before{content: ""; height: 100%; width: 1px; background-color: #ddd; display: block; position: absolute; left: 25%; top: 0;}
header .header-menu .gnb li .depth02 > li .depth03 > li a:hover{color: #D22A49; transition: inherit;}

/* main-visual */
.main-visual {width: 100%; height: 969px; position: relative; }
.main-visual .main-swiper{width: 100%; height: 100%; position: inherit}
.main-visual .main-swiper .swiper-wrapper{position: inherit;}
.main-visual .main-swiper .slide01{background: url(../images/main_visual_01.png) center center no-repeat;  width: 100%; height: 100%;}
.main-visual .main-swiper .slide02{background: url(../images/main_visual_02.png) center center no-repeat; width: 100%; height: 100%;}
.main-visual .main-swiper .slide03{background: url(../images/main_visual_03.png) center center no-repeat;  width: 100%; height: 100%;}
.main-visual .main-inner{width: 100%; position: absolute; bottom:265px; display: flex; flex-direction: column; gap: 50px; z-index: 5;}
.main-visual .main-inner h2{width: 1300px;  margin: 0 auto; font-size: 70px; color: #FFF; text-align: right; font-weight: 500; line-height: 87px; letter-spacing: 5px; }
.main-visual .main-inner .pagination-box{ display: flex; flex-direction: column; gap: 35px;}
.main-visual .main-inner .main-pagination{position: initial; width: 1350px;  margin: 0 auto; display: flex; gap: 50px; justify-content: flex-start;}
.main-visual .main-inner .swiper-pagination-bullet{color: #b2b0b0; background: transparent; height: inherit; width: auto; margin:0 !important; font-size: 25px; opacity: 1; font-weight: 500; position: relative;  padding-top: 10px; }
.main-inner .swiper-pagination-bullet::before{display: block; content: ""; width: 8px; height: 8px; border-radius: 50%; background-color: transparent; position: absolute; top: 0; right: 0;}
.main-visual .main-inner .swiper-pagination-bullet:hover::before{background:red;}
.main-visual .main-inner .swiper-pagination-bullet-active::before{ background:red; }
.main-visual .main-inner .swiper-pagination-bullet-active{background: transparent; color: #FFF;}
.main-visual .main-inner .main-progressbar{position: inherit; width: 1300px; margin: 0 auto; background-color: transparent !important; border-bottom: 1px solid #f0f0f0;}
.main-visual .main-inner .main-progressbar .swiper-pagination-progressbar-fill{background-color: #FFF !important;}

.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text{ width: 100%; position: absolute; bottom: 100px; z-index: 2; }
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul{width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; gap: 20px; }
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul li{overflow: hidden;}
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul li a{display: flex; position: relative; flex-direction: column; align-items: center; justify-content: center; width: 140px; height: 126px; }
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul li a span{font-size: 23px; color: #fff; text-align: center; display: block; }
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul li a img{width: 126px; height: 100%; position: absolute; bottom: -100%; transition: all .5s; }
.main-visual .main-swiper .swiper-wrapper .swiper-slide .slide-text ul li a:hover img{bottom: 0%;}

.main-visual .visual-link {position: absolute; right: 80px; bottom:-63px; z-index: 6;}
.main-visual .visual-link a{background: #fff; border-radius: 50%; border: 1px solid #DDDDDD; width: 126px; height: 126px; display: flex; justify-content: center; padding: 20px; box-shadow:0px 8px 10px 0px #e5e5e5 ; }


/* new */
.new {padding : 100px 0;}
.new .inner { width: 1350px; margin: 0 auto; display: flex; gap: 30px; }
.new .title-area {width:30%;}
.new .title-area p { font-size: 20px; margin-bottom: 30px; position: relative;}
.new .title-area p:after {position: absolute; content: ''; width: 150px; height: 2px; top: 15px;  background-color: #000; margin-left: 20px; top: 50%; transform: translateY(-50%);}

.new .title-area h3 { font-size: 55px; color:#bfbcbc; font-weight: 700; line-height: 1.3}
.new .title-area h3 span { color:#000; }

.new .content-area {width:68%;}
/* .new .content-area .item-box { display: flex; flex-wrap: wrap;} */
.new .content-area .item-box{width: 100%; display: flex; flex-wrap:wrap ; position: relative;}
.new .content-area .item-box li { width: 452px; height: 280px; border: 1px solid transparent;}
.new .content-area .item-box li:first-child{margin-top: 30px; margin: 40px 10px 10px 0;}
.new .content-area .item-box li:not(:last-child){padding: 40px; background-color: #f8f8f8;border-radius: 10px; }
.new .content-area .item-box li:last-child{right: 0; bottom: -28px; position:absolute; height: 350px; }
.new .content-area .item-box li:not(:last-child):hover{background: #fff; border: 1px solid #f8f8f8; box-shadow:4px 13px 8px 10px #e5e5e5 ;  }
.new .content-area .item-box li .cate { display: flex; align-items: center; justify-content: space-between; font-size: 18px; color: #ca2c52; font-weight: 500; margin-bottom: 30px;}
.new .content-area .item-box li .title { color:#000; font-size: 24px;font-weight: 500;     letter-spacing: -0.8px; margin-bottom: 20px;}
.new .content-area .item-box li .text {font-size: 18px; font-weight: 400;  margin-bottom: 45px; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.new .content-area .item-box li .data {font-size: 16px;}


.new-swiper{position: inherit; overflow: inherit; display: flex; flex-direction: column; gap: 10px;}
.new-swiper .swiper-wrapper{position: inherit;}
.new-swiper .swiper-wrapper .swiper-slide{position: inherit;}
.new-swiper .swiper-slide img {width: 100%; height: 286px; border-radius: 10px;}

/*스와이퍼 컨트롤 */
.new-swiper .controller{ width: 100%;}
.new-swiper .controller .controller-inner{display: flex; bottom: -20px; flex-wrap: wrap; justify-content: flex-end; align-items: center; gap: 10px;}
.new-swiper .controller .controller-inner .pagination-fraction{position: inherit; width: 60px; bottom: 0; height: 100%; font-size: 18px;}
.new-swiper .controller .controller-inner .pagination-fraction .swiper-pagination-current{color: red;}
.new-swiper .play-button{z-index: 8;	cursor: pointer;}
.new-swiper  .play-button .stop{	background: url(../images/stop_btn.svg) center center no-repeat;	background-size: cover;	width: 25px;	height: 25px;}
.new-swiper  .play-button .stop.active{	display: none;}
.new-swiper  .play-button .start{background: url(../images/play_btn.svg) center center no-repeat;	background-size: cover;	width: 25px;	height: 25px; display:none;}
.new-swiper  .play-button .start.active{display: block;}
.new-swiper .swiper-button-prev{background:url(../images/btn_slide_prev.svg) center center no-repeat;		width: 28px; height: 20px; position: inherit; margin-top: inherit; }
.new-swiper .swiper-button-next{background:url(../images/btn_slide_next.svg) center center no-repeat;		width: 28px; height: 20px; position: inherit; margin-top: inherit;}
.new-swiper .swiper-button-next::after, .new-swiper .swiper-button-prev::after {display: none;}

.business{width: 100%; padding: 100px 0; background: #F8F8F8;}
.business .inner{width: 1350px; margin: 0 auto; }
.business .title-area p { font-size: 20px; margin-bottom: 30px; position: relative;}
.business .title-area p:after {position: absolute; content: ''; width: 150px; height: 2px; top: 15px;  background-color: #000; margin-left: 20px; top: 50%; transform: translateY(-50%);}
.business .title-area h3 { font-size: 55px; color:#bfbcbc; font-weight: 700; line-height: 1.3}
.business .title-area h3 span { color:#000; }
.business .business-tap{display: flex; height: 440px; justify-content: space-between; padding-top: 50px;}
.business .business-tap li{width:126px; overflow: hidden; border-radius: 15px; transition: all 0.3s ; position: relative; cursor: pointer; }
.business .business-tap li  img{ height: 100%;}
.business .business-tap .tap-inner{position: absolute;  padding: 0 40px; display: flex; flex-direction: column; justify-content: center; gap: 20px; align-items: center; width: 100%; height: 100%; top: 50%; transform: translateY(-50%);  }
.business .business-tap .tap-inner .tap-title{font-size: 35px; font-weight: 600; letter-spacing: -3px; color: #fff; writing-mode:vertical-lr;  } 
.business .business-tap .tap-inner .tap-text{font-size: 19px; letter-spacing: -1px; color: #fff; transition: all 2s; display: none;}
.business .business-tap .tap-inner .tap-move{display:block ; background: #ff003c; width: 50px; height: 50px; display: flex; justify-content: center; border-radius: 50%; opacity: 0;}
.business .business-tap .tap-inner .tap-move span{text-indent: 99999999999px; display: block; background: url(../images/link-arw.svg) center center no-repeat;}
/* active */
.business .business-tap li.active{width: 900px; transition: all 0.3s ;}
.business .business-tap li.active .tap-inner{align-items: inherit; animation:fade-up ease 1s ; }
.business .business-tap li.active .tap-title{writing-mode: inherit; }
.business .business-tap li.active .tap-text{text-indent: inherit; display: block;}
.business .business-tap li.active .tap-move{opacity: 1;}

@keyframes fade-up{
  0%{top: 60%; opacity: 0;}
  100%{top: 50%; opacity: 1;}
}

.information{width: 100%;  background: url(../images/information_background.png) center center no-repeat; background-size: cover; }
.information > .inner{width: 1350px; margin: 0 auto; display: flex; justify-content: space-between; padding: 100px 0;}
.information .title-area{display: flex; flex-direction: column; gap: 100px;}
.information .title-area .title-bottom{display: flex; flex-direction: column; gap: 20px;}
.information .title-area p { font-size: 20px; margin-bottom: 30px; position: relative; color:#fff;}
.information .title-area p:after {position: absolute; content: ''; width: 150px; height: 2px; top: 15px;  background-color: #fff; margin-left: 20px; top: 50%; transform: translateY(-50%);}
.information .title-area h3 { font-size: 55px; color:#fff; font-weight: 500; line-height: 1.3}
.information .title-area .title-bottom a{color: #fff; border-radius: 30px; border: 1px solid #fff; width: 220px; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; font-size: 18px; letter-spacing: -1px; transition: all 0.5s;}
.information .title-area .title-bottom a::after{content: ""; background: url(../images/icon_arw_go.svg) center center no-repeat; width: 30px; height: 30px;}
.information .title-area .title-bottom a:hover{background: #4A63AD; border-color: #4A63AD;}

.information .infor-tap{width: 60%; display: flex; flex-direction: column; gap: 20px;}
.information .infor-tap .management{display: flex; justify-content: space-between;}
.information .infor-tap .management > div{width: 49%; display: flex; flex-direction: column; justify-content: space-between; color: #fff; background: rgba(75, 86, 121, 0.65); backdrop-filter: blur(14px); height: 350px; padding: 40px 20px; border-radius: 15px; transition: all 0.5s;}
.information .infor-tap .management > div:hover{background:#4A63AD; }
.information .infor-tap .management .kto-text{display: flex; flex-direction: column; gap: 20px;}
.information .infor-tap .management .kto-text span{font-size: 20px;}
.information .infor-tap .management .kto-text h4{font-size: 30px; font-weight: 400; line-height: 1.4;}
.information .infor-tap .management .kto-text p{ line-height: 1.8; font-size: 18px; font-weight: 400;}
.information .infor-tap .management .kto-link{display: flex; flex-direction: column; gap: 15px;}
.information .infor-tap .management .kto-link a span{color: #fff; font-size: 18px; font-weight: 400; position: relative;}
.information .infor-tap .management .kto-link span::after{content: ""; background: url(../images/icon_arw_go.svg) center center no-repeat; width: 20px; height: 20px; display: block; position: absolute; right: -35px; top: 50%; transform: translateY(-50%);}

.information .infor-tap .application{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 20px;}
.information .infor-tap .application > div{width: 49%; background: rgba(75, 86, 121, 0.65); backdrop-filter: blur(14px); border-radius: 15px; padding: 20px 20px; transition: all 0.5s;} 
.information .infor-tap .application > div:hover{background:#4A63AD; }
.information .infor-tap .application > div a{display: flex; justify-content: space-between; align-items: center;}
.information .infor-tap .application > div span{color: #fff; font-size: 18px; font-weight: 400; line-height: 1.3;}
.information .infor-tap .application > div a::after{content: ""; display: block; width: 30px; height: 30px; }
.information .infor-tap .application > .inquiry a::after{background: url(../images/inquiry-icon.svg) center center no-repeat;}
.information .infor-tap .application > .proposal a::after{background: url(../images/proposal_icon.svg) center center no-repeat;}
.information .infor-tap .application > .declaration a::after{background: url(../images/declaration_icon.svg) center center no-repeat;}
.information .infor-tap .application > .registration a::after{background: url(../images/registration_icon.svg) center center no-repeat;}

.information .site{width: 100%; background: rgba(0, 0, 0, 0.2); backdrop-filter: blur(14px);}
.information .site .inner{width: 1350px; margin: 0 auto; display: flex; flex-wrap: nowrap; align-items: center; justify-content: space-between; padding: 50px 0;}
.information .site .inner .site-title{ width: 10%; font-size: 20px; color: darkgoldenrod; position: relative; padding-left: 30px;}
.information .site .inner .site-title::before{content: ""; background: url(../images/related_site_monitor.svg)no-repeat; width: 20px; height: 20px; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.information .site  .site-swiper{ width: 75%;}
.information .site  .site-swiper a{font-size: 20px; font-weight: 500; color: #fff; display: block; width: 100%;}
.information .site  .site-swiper .swiper-slide{width: auto; flex-wrap: nowrap; padding-left: 30px; padding-right:25px ;}
.information .site  .site-swiper .swiper-slide::before{content: ""; border-radius:50%; border: 1px solid #fff; height: 5px; width: 5px; display: block; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.site-swiper{position: inherit; overflow: inherit;}
.site-swiper .swiper-wrapper{position: inherit;}
.site-swiper .swiper-wrapper .swiper-slide{position: inherit;}

.information .site .inner .controller{ width: 10%; height: 30px; position: relative;}
.information .site .inner .controller .controller-inner{width: 100%; display: flex; bottom: -20px; flex-wrap: wrap; justify-content: flex-end; align-items: center; gap: 10px;}
.information .site .inner .play-button{z-index: 8;	cursor: pointer;}
.information .site .inner  .play-button .stop{	background: url(../images/stop_btn_on.svg) center center no-repeat;	background-size: cover;	width: 25px;	height: 25px;}
.information .site .inner .play-button .stop.active{	display: none;}
.information .site .inner  .play-button .start{background: url(../images/play_btn_on.svg) center center no-repeat;	background-size: cover;	width: 25px;	height: 25px; display:none;}
.information .site .inner  .play-button .start.active{display: block;}
.information .site .inner .swiper-button-prev{background:url(../images/btn_slide_prev_on.svg) center center no-repeat;		width: 28px; height: 20px; position: inherit; margin-top: inherit; }
.information .site .inner .swiper-button-next{background:url(../images/btn_slide_next_on.svg) center center no-repeat;		width: 28px; height: 20px; position: inherit; margin-top: inherit;}
.information .site .inner .swiper-button-next::after, .information .site .inner .swiper-button-prev::after {display: none;}

footer {width: 100%; padding: 50px 0;}
footer .inner{width: 1350px; margin: 0 auto; display: flex; justify-content: space-between;}
footer .inner .f-infor{display: flex; flex-direction: column; gap: 20px;}
footer .inner .f-policy ul{display: flex; align-items: center; gap: 20px;}
footer .inner .f-policy ul li a{font-size: 16px; font-weight: 400; letter-spacing: -2px; color: #444444;}
footer .inner .f-policy ul li:nth-child(2) a{font-weight: 700;}
footer .inner address p{font-size: 15px; line-height: 1.9; font-weight: 400; color:#444444;}
footer .inner address p span{font-weight: 700;}
footer .inner .family-site{width: 15%; }

footer .inner .family-site a {display: flex; align-items: center; justify-content: space-between; font-size: 16px; color: #333; font-weight: 500; border-bottom: 2px solid #333; padding-bottom: 5px;}
footer .inner .family-site a::after{content: ""; background: url(../images/footer_familyselect.png) center center no-repeat; background-size: cover; width: 30px; height: 30px; display: block; }




.family-popup{position: fixed;bottom: 0; left: 0; width: 100%; height: 100%; background:rgba(0,0,0,0.5); z-index: 11; display: none;}
.popup-box{display: flex; flex-direction: column; background: #fff; border: 1px solid #ddd; border-radius: 10px; width: 440px; box-shadow: 0px 10px 13px 3px #948f8f; margin: 0 auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.popup-box .pop-tit{display: flex; justify-content: space-between; border-bottom: 1px solid #ddd; padding: 20px; align-items: center;}
.popup-box .pop-tit h4{font-size: 18px;}
.popup-box .pop-tit a{font-size: 0; background: url(../images/popup_close_btn.svg) no-repeat; height: 20px; width: 20px; }
.popup-box .pop-text ul{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 10px; padding: 20px}
.popup-box .pop-text ul li{width: 48%; background: #f8f8f8; border-radius: 10px; padding: 20px;}
.popup-box .pop-text ul li span{font-size: 15px; letter-spacing: -1px; display: flex; justify-content: space-between;}
.popup-box .pop-text ul li span::after{content: ""; width: 15px; height: 15px; background: url(../images/pop-icon.svg) no-repeat; display: block;}
.family-popup.active{display: block;}

.top-btu{position: fixed; bottom: 10px; right: 15px; background: #979797; border-radius: 50%; padding: 15px; cursor: pointer; transition: all 0.3s;}
.top-btu:hover{background: #444444;}
.top-btu span{font-size: 0; background: url(../images/btn_page_up.svg) no-repeat; background-size: cover; width: 20px; height: 20px; display: block;}